nav{
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    background-image: url(../CSS/media/nature3.jpg);
}
.menu-bar{
display:flex;
list-style: none;
justify-content:space-around;
align-items:center;

}

.img{
    width:100px;
    
}
a{
    text-decoration: none;
    color:darkmagenta;
    font-weight:bold;
    font-size:20px;
}
.menu-items{
    /* border:1px solid black; */
    padding:20px;
    flex-grow: 1;
    /* flex-shrink: 1; */
}
.logo{
    flex-grow: 2;
    /* flex-shrink: 1; */
}
a:hover{
    color: black;
    text-decoration: underline;
    font-size: 25px;
}
img{
    width:300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px;
    margin-top: 20px;
}
