{% extends 'employee_crud/menubar.html' %}

{% block content %}
<h1 class="bg-info text-center">Employee Details</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{employee.name}}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{employee.age}}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{employee.phone}}</td>
      </tr>
      <tr>
        <th>Email ID</th>
        <td>{{employee.email}}</td>
      </tr>
      <tr>
        <th>Qualification</th>
        <td>{{employee.qualification}}</td>
      </tr>
      <tr>
        <th>Salary</th>
        <td>{{employee.salary}}</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>{{employee.department}}</td>
      </tr>
      <tr>
        <th>Experience</th>
        <td>{{employee.experience}}</td> 
      </tr>
    </tbody>
  </table>
  {% endblock %}